:root {
  --main-color: #FF9517;
  --secondary-color: #f0c5de;
  --main-background:#fffdff;
  --secondary-background: #2b2b2b;
}

/* .concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alexandria {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */

html, body, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background);
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2px 140px;
}

header img {
 height: 100px;
 width: auto;
}

header a {
  display: inline-block;
  font-size: 22px;
  color:var(--secondary-background);
  text-decoration: none;
  margin: 4px 40px;
}

header a.active {
  color: var(--main-color);
}

header a:hover {
  color: var(--main-color);
}

main {
  min-height: calc(100vh - 216px);
  display: flex;
  flex-direction: column;
  padding: 20px 140px;
}

.intro p {
  line-height: 2;
}

h1 {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h2 {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section {
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 20px;
}

form input {
  height: 20px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  margin: 4px 0 10px;
}

form textarea {
  width: 100%;
  height: 200px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  margin: 4px 0 10px;
  resize: vertical;
}

form button {
  width: 130px;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 6px;
  font-size: 16px;
}

form button:hover {
  
  background-color: var(--main-color);
}

.news-article {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  border: 2px solid var(--secondary-color);
  margin-bottom: 20px;
}

.news-article:hover {

  background-color: rgba(240, 197, 222, 0.2);
 
}


.news-article h3 {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

#articles {
  border: 2px solid var(--main-color);
}

#articles img {
  height: 300px;
}

#articles ul {
  padding: 20px;
}

footer {
  padding: 10px 140px;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
